body {
	font-family: 'Ubuntu Condensed', sans-serif;
	max-width: 80em;
	margin: 0 auto;
}

header img {
	width: 200px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

ul li {
	color: #FA000C;
}

ul li span {
  color: #000;
  width: 200px;
}

p {
	padding: 20px;
}

button {
	background-color: #A5EBFA;
	font-size: 20px;
	border: none;

}

.map {
	width: 370px;
	height: 300px;
	display: none;
}
.map-content {
	display: flex;
	justify-content: center;
}

.hide-button {
	display: none;
}

.sushi-img, .ramen-img, .sake-img{
	width: 250px;
}

.basic-facts {
	display: flex;
	justify-content: center;
}

.col-sm-3 {
	margin: 30px;
}

.add-bgColor {
	background-color: #C390D4;
	border-radius: 10px;
}

.random {
	display: none;
}

.random-section {
	display: flex;
	justify-content: center;
}
ul.random {
	text-align: center;

}
.random li {
	list-style-type: none;
	margin: 0 auto;
	font-size: 20px;
}